:root
{
    --body-bg-color: 255, 255, 255;
    --body-fg-color: 0, 0, 0;
    --menu-bg-color: 252, 231, 240;
    --menu-fg-color: 0, 0, 0;
    --menu-hover-color: 243, 147, 189;
    --banner-image: url(../Images/cropped-Mindy-3.jpeg);
    --cat-in-need-image: url(../Images/Chicago-4-600x450-400x300.jpeg);
    --cat-of-the-week-image: url(../Images/Kleo_1-600x450-400x300.jpg);
    --cat-name-color: 238, 145, 189;
}

/*@media (prefers-color-scheme: dark)
{
    :root
    {
        --body-bg-color: 0, 0, 0;
        --body-fg-color: 255, 255, 255;
    }
}*/

body
{
    background-color: rgb(var(--body-bg-color));
    color: rgb(var(--body-fg-color));
    margin: 0;
    font-family: Arial;
}

#Banner
{
    background-image: var(--banner-image);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
}

#Menubar
{
    background-color: rgb(var(--menu-bg-color));
    height: 3.5rem;
    box-shadow: 0px 2px 8px -2px rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 500px)
{
    #Menubar
    {
        background-color: red;
    }
}

nav
{
    text-align: center;
    color: rgba(var(--menu-fg-color), 0.5);
    background-image: url(../Images/Heart.png);
    background-size: contain;
    background-repeat: no-repeat;
}

    nav ul
    {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 1.25rem 0;
        font-weight: bold;
        text-transform: uppercase;
    }

        nav ul li
        {
            display: inline-block;
            padding: 0 2rem;
            user-select: none;
            cursor: pointer;
        }

            nav ul li:hover
            {
                color: rgba(var(--menu-hover-color), 1);
            }

.cards
{
    display: flex;
    flex: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

    .cards > .card.banner::before,
    .cards > .carousel::before
    {
        content: attr(data-title);
    }

    .cards > .card,
    .cards > .carousel
    {
        border-radius: 1rem;
        min-height: 20rem;
        width: 100%;
        box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.25);
        overflow: hidden;
        position: relative;
    }

        .cards > .card > .picture
        {
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: lightcoral;
            margin: 1rem;
            margin-top: 0;
            border-radius: 0.5rem 0.5rem 0 0;
        }

.carousel
{
    display: flex;
    position: relative;
    padding: 3rem 1rem 1rem 1rem;
    gap: 1rem;
}

    .carousel > img
    {
        border-radius: 0.5rem;
    }

    .carousel::before
    {
        position: absolute;
        top: 0;
        left: 0;
    }

.card.in-need > .picture
{
    background-image: var(--cat-in-need-image);
}

.card::before,
.carousel::before
{
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.carousel > div
{
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
    min-width: 400px;
    position: relative;
}

.social-media
{
    position: absolute;
    color: white;
    right: 0rem;
    bottom: 0;
    border-top-left-radius: 0.5rem;
    padding: 0.25rem 0 0.25rem 0.25rem;
    background-color: white;
}

    .social-media > i
    {
        font-size: 2rem;
        opacity: 0.5;
        transition: opacity 250ms ease-in;
        cursor: pointer;
    }

        .social-media > i:hover
        {
            opacity: 1;
        }

.fa-square-facebook
{
    color: rgb(59, 89, 152);
}

.fa-square-twitter
{
    color: rgb(85, 172, 238);
}

.fa-square-pinterest
{
    color: rgb(189, 8, 28);
}

.carousel > .hazel
{
    background-image: url(../Images/Hazel-Mae1-400x300.jpg);
}

.carousel .header
{
    text-align: center;
}

.carousel .name
{
    background-color: white;
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0.75;
    font-weight: bold;
    font-size: 1.5em;
    min-width: 50%;
}

.carousel .gender
{
    background-color: white;
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    opacity: 0.75;
    color: hotpink;
}

.carousel > .albus
{
    background-image: url(../Images/AlbusDumbledore_1.jpg);
}

.carousel > .more-stuff
{
    position: absolute;
    top: 1rem;
    right: 1rem;
    float: right;
    min-width: auto;
    font-weight: bold;
    color: blue;
}

.footer
{
    min-height: 4rem;
    background-color: rgb(246, 246, 246);
    display: flex;
    position: relative;
    padding-bottom: 120px;
}

    .footer div
    {
        flex: 1 1 33%;
    }

.footer > .credit-banner
{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.footer ul
{
    list-style-type: none;
}

    .footer ul li
    {
        color: #0568bf;
    }

.footer ul li:first-child
{
    color: black;
    font-size: 1.25em;
    font-weight: bold;
}

.card > .name
{
    position: absolute;
    right: 1rem;
    top: 13.5rem;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(var(--cat-name-color));
    text-shadow: 0px 3px 7px rgba(0,0,0,1);
    background-color: rgb(var(--body-bg-color));
    padding-left: 1rem;
    border-top-left-radius: 0.5rem;
}

.card.in-need::before
{
    content: 'Cat in Need';
}

.card.cat-of-the-week::before
{
    content: 'Cat of the Week';
}

.card.cat-of-the-week::before
{
    content: 'Cat of the Week';
}

.card.this-week::before
{
    content: 'This Week at DREAM';
}

.card.cat-of-the-week > .picture
{
    background-image: var(--cat-of-the-week-image);
}

.card > .description
{
    margin: 1rem;
    margin-top: 1.5rem;
    text-align: justify;
    font-size: 0.9em;
    line-height: 1.5em;
}

@media screen and (max-width: 800px)
{
    .cards
    {
        flex-direction: column;
    }
}

.lorem-ipsum
{
    max-width: 40rem;
    display: none;
}
